@media (max-width:768px){
    .nav-list{
        display: none;
    }
    .section-title{
        text-align: center;
        align-items: center;
        flex-direction: column-reverse;
        row-gap: 40px;
    }
    .section-btn{
        margin-left: 150px;
    }

    .burger-menu{
        display: block;
        font-size: 36px;
        margin: 0 auto;
    }

    .content{
       align-items: center;
       flex-direction: column;
       row-gap: 30px;
    }
    .title-section{
        display: flex;
        align-items: center;
        column-gap: 36px;
        width: 182px;
        margin-left: 0px;
    }
    .title-line{
        display: none;
    }
    .section-features{
        margin-top: 40px;
        flex-direction: column;
        text-align: center;
        row-gap: 40px;
    }
    .features-wrapper{
        align-items: center;
        text-align: center;
   } 
   .features-title{
        width: 225px;
   }
   .section-pricing{
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   h3{
    width: 383px;
    height: 50px;
    font-weight: 500;
    font-size: 35px;  
    color: #0B132A;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
   }
   .pricing-text{
    width: 555px;
    height: 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-left: 0px;
    text-align: center;
    margin-bottom: 50px; 
    }

   .pricing-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        margin-top: 30px;
   } 
   .wrapper-wrapper{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .testimonials-img{
        width: 750px;
        margin: 40px 0px;
        margin: 40px 0px;
    }
    .testimonials-card{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    margin-bottom: 40px;
    padding: 20px 100px;
    }
    footer{
        display: flex;
        justify-content: space-around;
        column-gap: 0px;
        width: 100%;
        height: 300px;
        padding:  0px;
    }
   .footer-text{
       display: none;
   }
   .footer-social{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
   }
   .social-img{
        width: 60px;
        height: 60px;
   }
   .footer-title{
    align-items: center;
   }

}
@media (max-width:500px){
    .respo-img{
        width: 450px; 
        height: 300px;
    }
    .section-wrapper{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    h1{
        width: 100%;
        height: 30px;
        font-weight: 400;
        font-size: 20px;
        line-height: 10px;
    }
    span{
        font-weight: 500;
        font-size: 30px;
    }
    .section-text{
        width: 100%;
        height: 40px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
    .section-btn{
        width: 150px;
        height: 60px;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        background: #F53855; 
        border-radius: 10px;
        margin-top: 0px;
        padding: 20.5px 20.5px; 
        cursor: pointer;
        transition: all 1s;
    }
    .content{
        display: flex;
        margin-top:50px;
    }
    .title-section{
        display: flex;
        align-items: center;
        column-gap: 20px;
    }
    .respo-photo{
        width: 450px;
    }
    .features-wrapper{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

h3{
    width: 383px;
    height: 30px;
    font-weight: 500;
    font-size: 35px;  
    color: #0B132A;
    margin-top: 30px;
    margin-bottom: 10px;
}
    .pricing-text{
        width: 100%;
        height: 30px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .testimonials-text{
        width: 100%;
        height: 60px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
    .testimonials-img{
        width: 100%;
        margin: 10px 0px;
    }
    .testimonials-card{
        display: flex;
        justify-content: center;
        column-gap: 30px;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
        padding: 20px 0px;
    }
    .testimonials-photo{
        width: 100px;
        height: 50px;
    }
    .footer-title{
        display: none;
    }
    .fixty{
        width: 50px;
        height: 50px;
        position:fixed;
        bottom: 30px;
        right: 0px;
        border-radius: 20px;
    }
}